<a href="https://colab.research.google.com/github/AnLiu69/Semana05/blob/main/Semana05_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Semana 05
1. Colecciones de datos
2. Estructuras Decisivas y Estructura Repetitivas
3. Clases y objetos
4. Funciones

2. Estructuras Decisivas y Estructura Repetitivas

In [1]:
#2.1 Estructuras Decisivas (if, elif, else)
#if
#Problema: Dado el precio de 3 productos ingresados por teclado,
#aplicar un descuento del 10% si la venta es mayor o igual a 1000

In [4]:
#Solucio
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2 + P3
if total>=1000:
  total *= 0.9
print(f"El total a pagar es: {total}")

Producto 1: 1000
Producto 2: 2000
Producto 3: 1000
El total a pagar es: 3600.0

In [5]:
#Problema 02
#DAdo el importe total de ventas realizadas por un trabajador (ingresado por
#Categoria: A-> [0, 1000]
#Categoria: B-> <1000, 2000]
#Categoria: C-> <2000, 5000]
#Categoria: D-> <5000, Más]
#Tiempo asignado: 12 min

In [8]:
#Solución
ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
  print("Datos erroneos")
else:
    if ventas <= 1000:
      print("Categoria A")
    else:
        if ventas <= 2000:
          print("Categoria B")
        else:
          if ventas <= 5000:
            print("Categoria C")
          else:
              if ventas >= 5000:
                print("Categoria D")

Importe de ventas realizadas: 4000
Categoria C

In [10]:
ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
  print("Datos erroneos")
elif ventas <= 1000:
  print("Categoria A")
elif ventas <= 2000:
  print("Categoria B")
elif ventas <= 5000:
  print("Categoria C")
elif ventas > 5000:
  print("Categoria D")

Importe de ventas realizadas: 5200
Categoria D

In [11]:
#2.2 Esrtucturas repetitivas
#for

In [12]:
#Problema 01:
#Mostrar los elementos de una lista utilizando for

In [13]:
#Solución
aula = ['Barrios', 'Sevillano', 'Zuñiga', 'Paye']
#Por cada alumno que está en la lista, imprimir alumno
for alumno in aula:
  print(alumno)

Barrios
Sevillano
Zuñiga
Paye

In [14]:
#Problema 02:
#Dado una cadena ingresado por teclado,
#mostrar cada una de sus caracteres, utilizando la estructura for

In [16]:
#solución
cadena = input("Ingrese Cadena:")
for caracter in cadena:
  print(caracter)

Ingrese Cadena:Pepito
P
e
p
i
t
o

In [17]:
#Para generar rangos de números utilizamos range()
range(5)
#[0,5>

range(0, 5)

In [18]:
#Problema 02
#Imprimir los números de 0 a 10, utilizando for
for numero in range(11):
  print (numero)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
#Problema 03
#Imprimir los números de 0 a 10, utilizando for
for numero in range(5, 11):
  print (numero)

5
6
7
8
9
10

In [24]:
#Problema 04
#Imprimir los números de 10 a 20, utilizando for
for numero in range(10, 22, 2):
  print(numero)

10
12
14
16
18
20

In [25]:
#While
#Permite ejecutar un conjunto de acciones hasta que no se cumpla la condición
numero = 1
fin = 10
while numero <= fin:
  print(numero)
  numero +=1

1
2
3
4
5
6
7
8
9
10